<template>
	<div class="container">

		<!--//TODO FILTERS MODAL -->
		<div v-if="filtersModal"
			class="modal filter-modal fade"
			tabindex="-1"
			role="dialog"
			keyboard="true"
			aria-labelledby="filtersModal"
			@click.self="filtersModal = !filtersModal">
			<div class="modal-dialog"
				role="document">
				<div class="modal-content">

					<!--//* HEADER (title, close btn) -->
					<div class="modal-header">
						<h4 class="modal-title"
							id="filtersModal">Search Filters</h4>
						<button class="btn btn-danger"
							data-dismiss="modal"
							type="button"
							@click="filtersModal = !filtersModal">Close</button>
					</div>

					<!--//* BODY (checkboxes/inputs) -->
					<div class="modal-body">
						<form class="form-inline">
							<div class="form-group">

								<!--//? JOB CHECKBOXES  -->
								<div class="jobfilters">
									<h4>Jobs</h4>
									<div class="checkbox jobs"
										v-for="j in jobs"
										:key="j">
										<label>
											<input type="checkbox"
												v-model="filters.jobsChecked[j]"
												@change="filterJobs(j)"> <strong>{{ j }}</strong>
										</label>
									</div>
								</div>

								<br>

								<!--//? HAIR CHECKBOXES  -->
								<div class="hairfilters">
									<h4>Hair Color</h4>
									<div class="checkbox hair"
										v-for="h in hair_colors"
										:key="h">
										<label>
											<input type="checkbox"
												v-model="filters.hairChecked[h]"
												@change="filterHairColors(h)"> <strong>{{ h }}</strong>
										</label>
									</div>
								</div>

								<br>

								<!--//? FILTER NUMBER INPUTS  -->
								<div class="ageHeightWeightFilters">
									<form class="form-inline otherfilters">

										<div class="ageHeightWeightInputs">

											<div class="form-group">
												<label for="minAge">Min/Max Age</label>
												<input type="number"
													class="form-control"
													:class="{ badInput: badAge }"
													id="minAge"
													min="29"
													max="378"
													v-model="filters.minAge"
													@change="filterNumbers('minAge')">
											</div>
											<div class="form-group">
												<label for="maxAge"></label>
												<input type="number"
													class="form-control"
													:class="{ badInput: badAge }"
													id="maxAge"
													min="31"
													max="380"
													v-model="filters.maxAge"
													@change="filterNumbers('maxAge')">
											</div>
											<p style="font-size: 12px; margin: 0, padding: 0;"
												v-show="badAge">{{ badAge ? "Please enter valid parameters for your search! (29-380)" : null }}</p>

											<div class="form-group">
												<label for="minHeight">Min/Max Height</label>
												<input type="number"
													class="form-control"
													:class="{ badInput: badHeight }"
													id="minHeight"
													min="89"
													max="149"
													v-model="filters.minHeight"
													@change="filterNumbers('minHeight')">
											</div>
											<div class="form-group">
												<label for="maxHeight"></label>
												<input type="number"
													class="form-control"
													:class="{ badInput: badHeight }"
													id="maxHeight"
													min="91"
													max="151"
													v-model="filters.maxHeight"
													@change="filterNumbers('maxHeight')">
											</div>
											<p style="font-size: 12px; margin: 0, padding: 0;"
												v-show="badHeight">{{ badHeight ? "Please enter valid parameters for your search! (89-151)" : null }}</p>

											<div class="form-group">
												<label for="minWeight">Min/Max Weight</label>
												<input type="number"
													class="form-control"
													:class="{ badInput: badWeight }"
													id="minWeight"
													min="29"
													max="49"
													v-model="filters.minWeight"
													@change="filterNumbers('minWeight')">
											</div>
											<div class="form-group">
												<label for="maxWeight"></label>
												<input type="number"
													class="form-control"
													:class="{ badInput: badWeight }"
													id="maxWeight"
													min="31"
													max="51"
													v-model="filters.maxWeight"
													@change="filterNumbers('maxWeight')">
											</div>
											<p style="font-size: 12px; margin: 0, padding: 0;"
												v-show="badWeight">{{ badWeight ? "Please enter valid parameters for your search! (29-51)" : null }}</p>

										</div>

									</form>
								</div>
							</div>
						</form>
					</div>

					<!--//* FOOTER (reset & search btns) -->
					<div class="modal-footer">
						<button class="btn btn-default"
							type="button"
							@click="resetSearch()">Reset</button>
						<button class="btn-sm btn-success"
							type="button"
							data-dismiss="modal"
							@click="filterGnomes()">Search</button>

					</div>

				</div>
			</div>
		</div>

		<!-- //TODO GNOME DETAILS MODAL -->
		<div v-if="modal"
			class="modal gnome-modal fade"
			tabindex="-1"
			role="dialog"
			keyboard="true"
			aria-labelledby="gnomeModal">
			<div class="modal-dialog modal-sm"
				role="document">
				<div class="modal-content">

					<!--//* GNOME MODAL HEADER (name, id)  -->
					<div class="modal-header">
						<h5 class="modal-title"
							id="myModalLabel">{{ gnomeDetails.name }} • userID: {{ gnomeDetails.id }} </h5>
					</div>

					<!--//* GNOME MODAL BODY (details)  -->
					<div class="gnome-modal-body">
						<img :src="gnomeDetails.thumbnail" />

						<div class="gnomeDetailsRight">
							<p>Age: {{ gnomeDetails.age }} years</p>
							<p>Height: {{ Math.trunc(gnomeDetails.height) }}cm</p>
							<p>Weight: {{ Math.trunc(gnomeDetails.weight) }}kg</p>
							<p data-dismiss="modal"
								@click="singleHairFilter(gnomeDetails.hair_color)">Hair Color: <a>{{ gnomeDetails.hair_color }}</a></p>
						</div>

						<div class="jobslist">
							<p>Professions:</p>
							<ul>
								<li v-for="profession in gnomeDetails.professions"
									data-dismiss="modal"
									@click="singleJobFilter(profession)"
									:key="profession"><a>{{ profession }}</a></li>
							</ul>
						</div>

						<div class="friendslist">
							<p>Friends:</p>
							<ul>
								<li v-for="friend in gnomeDetails.friends"
									:key="friend"><a href="#"
										@click="showModal(friend)">{{ friend }}</a></li>
							</ul>
						</div>
					</div>

					<!--//* GNOME MODAL FOOTER (close btn)  -->
					<div class="modal-footer">
						<button type="button"
							class="btn-sm btn-danger"
							data-dismiss="modal">Close</button>
					</div>

				</div>
			</div>
		</div>

		<!--//? FILTERS SEARCH BTN  -->
		<button class="btn-sm btn-primary"
			type="button"
			data-toggle="modal"
			data-target=".filter-modal"
			@click="filtersModal = !filtersModal">Search Filters</button>

		<!--//! SEARCH/PAGE RESET BTN  -->
		<button v-if="filteredPosts.length > 0"
			class="btn-sm btn-default"
			type="button"
			@click="resetSearch()">Reset Search</button>

		<nav aria-label="Pagination">
			<ul class="pagination">
				<!--//? FIRST/PREV BTNS -->
				<li class="page-item">
					<button type="button"
						class="page-link btn-sm btn-danger"
						v-if="page != 1"
						@click="page = 1">First</button>
					<button type="button"
						class="page-link btn-sm btn-info"
						v-if="page != 1"
						@click="page--">Previous</button>
				</li>

				<!--//? PAGE NUMBER BTNS -->
				<li class="page-item">
					<button type="button"
						:class="page === pageNumber
  						? 'page-link btn-sm btn-success currentPage'
  						: 'page-link btn-sm btn-warning'"
						style="margin-left: 5px;"
						v-for="pageNumber in pages.slice(page-1, page+5)"
						@click="page = pageNumber"
						:key="pageNumber"> {{pageNumber}} </button>
				</li>

				<!--//? NEXT/LAST BTNS -->
				<li class="page-item">
					<button type="button"
						@click="page++"
						v-if="page < pages.length"
						class="page-link btn-sm btn-info">Next</button>
					<button type="button"
						class="page-link btn-sm btn-danger"
						v-if="page != pages.length"
						@click="page = pages.length">Last</button>
				</li>
			</ul>
		</nav>

		<!--//? INITIAL GRID TITLE -->
		<div v-if="filteredPosts.length === 0">
			<h3>Brastlewark Population: {{ posts.length }}</h3>
			<hr>
		</div>

		<!--//? FILTERED GRID TITLE -->
		<div v-if="filteredPosts.length > 0"
			style="overflow-wrap: break-word;">
			<h4>Gnomes found matching your search: {{filteredList.length}}</h4>

			<!--//? JOBS -->
			<div style="display: flex;">
				<h5>Jobs:</h5>
				<ul class="list">
					<p v-for="job in searchResultsJobs"
						:key="job">{{job}},</p>
				</ul>
			</div>

			<!--//? HAIR COLORS -->
			<div style="display: flex;">
				<h5>Hair Colors:</h5>
				<ul class="list">
					<p v-for="hair in searchResultsHair"
						:key="hair">{{hair}},</p>
				</ul>
			</div>

			<!--//? AGE/HEIGHT/WEIGHT -->
			<h5>Min/Max Age: {{ filters.minAge }}—{{ filters.maxAge }} years old </h5>
			<h5>Min/Max Height: {{ filters.minHeight }}—{{ filters.maxHeight }} cm </h5>
			<h5>Min/Max Weight: {{ filters.minWeight }}—{{ filters.maxWeight }} kg </h5>
			<hr>
		</div>

		<!-- //? GNOME GRID -->
		<ul class="grid">
			<li class="panel panel-warning"
				v-for="gnome in displayedPosts"
				:key="gnome.id">
				<div class="panel-heading">
					<h5>{{ gnome.name }}</h5>
					<button class="btn-xs btn-success"
						type="button"
						data-toggle="modal"
						data-target=".gnome-modal"
						@click="showModal(gnome.name)">Details</button>
				</div>
				<div class="panel-body">
					<img :src="gnome.thumbnail" />
				</div>
			</li>
		</ul>

		<nav aria-label="Pagination">
			<ul class="pagination">
				<!--//? FIRST/PREV BTNS -->
				<li class="page-item">
					<button type="button"
						class="page-link btn-sm btn-danger"
						v-if="page != 1"
						@click="page = 1">First</button>
					<button type="button"
						class="page-link btn-sm btn-info"
						v-if="page != 1"
						@click="page--">Previous</button>
				</li>

				<!--//? PAGE NUMBER BTNS -->
				<li class="page-item">
					<button type="button"
						:class="page === pageNumber
  						? 'page-link btn-sm btn-success currentPage'
  						: 'page-link btn-sm btn-warning'"
						style="margin-left: 5px;"
						v-for="pageNumber in pages.slice(page-1, page+5)"
						@click="page = pageNumber"
						:key="pageNumber"> {{pageNumber}} </button>
				</li>

				<!--//? NEXT/LAST BTNS -->
				<li class="page-item">
					<button type="button"
						@click="page++"
						v-if="page < pages.length"
						class="page-link btn-sm btn-info">Next</button>
					<button type="button"
						class="page-link btn-sm btn-danger"
						v-if="page != pages.length"
						@click="page = pages.length">Last</button>
				</li>
			</ul>
		</nav>

	</div>
</template>
    
<script>
	import { mapGetters } from "vuex";
	// import hair_colors from "./filters_data/Hair_Colors";
	// import jobs from "./filters_data/Jobs";

	const initialFilters = (jobs, hair_colors) => {
		let initFilters = {
			jobs: [],
			hair: [],
			jobsChecked: {},
			hairChecked: {},
			minAge: 29,
			maxAge: 380,
			minHeight: 89,
			maxHeight: 151,
			minWeight: 29,
			maxWeight: 51,
		};

		for (let j = 0; j < jobs.length; j++) {
			initFilters.jobsChecked[jobs[j]] = false;
			console.log("jobs[j] in initFilters: ", jobs[j]);
		}
		// console.log("jobsChecked Obj: ", initFilters.jobsChecked);

		for (let h = 0; h < hair_colors.length; h++) {
			initFilters.hairChecked[hair_colors[h]] = false;
			console.log("hair_colors[h] in initFilters: ", hair_colors[h]);
		}
		// console.log("hairChecked Obj: ", initFilters.hairChecked);

		return initFilters;
	};

	export default {
		data() {
			return {
				filters: {
					jobs: [],
					jobsChecked: {},
					hair: [],
					hairChecked: {},
					minAge: 29,
					maxAge: 380,
					minHeight: 89,
					maxHeight: 151,
					minWeight: 29,
					maxWeight: 51,
				},
				filtersModal: false,
				filteredPosts: [],
				gnomeDetails: [],
				hair_colors: [],
				jobs: [],
				modal: false,
				page: 1,
				pages: [],
				perPage: 50,
				posts: [],
				searchResultsHair: [],
				searchResultsJobs: [],
			};
		},
		methods: {
			filterGnomes() {
				//? check if any filters were chosen at all and use the default list if not
				const filterPayload = {
					jobs: this.filters.jobs.length === 0 ? this.jobs : this.filters.jobs,
					hair_color:
						this.filters.hair.length === 0 ? this.hair_colors : this.filters.hair,
					minAge: this.filters.minAge,
					maxAge: this.filters.maxAge,
					minHeight: this.filters.minHeight,
					maxHeight: this.filters.maxHeight,
					minWeight: this.filters.minWeight,
					maxWeight: this.filters.maxWeight,
				};

				//? set some values to display what the user searched for AFTER the results are rendered on screen based on if they chose any filters previously
				this.searchResultsJobs =
					this.filters.jobs.length === 0 ? ["All"] : this.filters.jobs;
				this.searchResultsHair =
					this.filters.hair.length === 0 ? ["All"] : this.filters.hair;

				this.$store.dispatch("filteredList", filterPayload).then((response) => {
					this.getFilteredGnomes();
				}),
					(error) => {
						alert(
							"There seems to have been an error with the filterGnomes function :/..."
						);
					};
			},
			filterHairColors(h) {
				console.log(`${h} in filterHairColors`, h);
				if (!this.filters.hair.includes(h)) {
					this.filters.hair.push(h);
					this.filters.hairChecked[`${h}`] = true;
				} else {
					const index = (ele) => ele === h;
					const remove = this.filters.hair.findIndex(index);
					this.filters.hair.splice(remove, 1);
					this.filters.hairChecked["h"] = !this.filters.hairChecked["h"];
				}
				console.log("hair filters: ", this.filters.hair);
				console.log("hair checked: ", this.filters.hairChecked);
				this.filterGnomes();
			},
			filterJobs(j) {
				console.log(`${j} in filterJobs`, j);
				if (!this.filters.jobs.includes(j)) {
					this.filters.jobs.push(j);
					this.filters.jobsChecked[j] = true;
				} else {
					const index = (ele) => ele === j;
					const remove = this.filters.jobs.findIndex(index);
					this.filters.jobs.splice(remove, 1);
					this.filters.jobsChecked[j] = false;
				}
				console.log("job filters: ", this.filters.jobs);
				console.log("jobs checked: ", this.filters.jobsChecked);
				this.filterGnomes();
			},
			filterNumbers(type) {
				console.log(`${type} changed in filters: `, this.filters[type]);
				this.filterGnomes();
			},
			getFilteredGnomes() {
				this.filteredPosts = [];
				if (this.filteredList.length === 0) {
					alert("Sorry, your search didn't return any results, please try again");
					this.resetSearch();
				}
				for (let i = 0; i < this.filteredList.length; i++) {
					this.filteredPosts.push(this.filteredList[i]);
				}
			},
			getGnomes() {
				for (let i = 0; i < this.gnomesList.length; i++) {
					this.posts.push(this.gnomesList[i]);
				}
				this.hair_colors = this.initData.hair_colors;
				this.jobs = this.initData.jobs;
				this.filters.minAge = this.initData.minAge;
				this.filters.maxAge = this.initData.maxAge;
				this.filters.minHeight = Math.floor(this.initData.minHeight);
				this.filters.maxHeight = Math.floor(this.initData.maxHeight);
				this.filters.minWeight = Math.floor(this.initData.minWeight);
				this.filters.maxWeight = Math.floor(this.initData.maxWeight);
				this.resetSearch();
				console.log("gnomesList in getGnomes: ", this.posts);
			},
			paginate(posts) {
				//? SETS GNOMES PER PAGE
				let page = this.page;
				let perPage = this.perPage;
				let from = page * perPage - perPage;
				let to = page * perPage;
				return posts.slice(from, to);
			},
			resetSearch() {
				this.filteredPosts = [];
				this.searchResultsHair = [];
				this.searchResultsJobs = [];
				this.filters = initialFilters(this.jobs, this.hair_colors);
			},
			setPages() {
				//? COUNTS NUMBER OF GNOMES + PAGES NEEDED
				this.pages = []; //! initialize the pages for filtering, otherwise it will add the initial fetch pages, plus those from the filteredList after it (i.e. pages = [1-27,1,2,3...])

				let numOfPosts =
					this.filteredPosts.length > 0
						? this.filteredPosts.length
						: this.posts.length;
				let numberOfPages = Math.ceil(numOfPosts / this.perPage);

				if (numberOfPages > 1) {
					for (let index = 1; index <= numberOfPages; index++) {
						this.pages.push(index);
					}
				} else {
					this.pages = [1];
				}
			},
			showFiltersModal() {
				this.filtersModal = true;
			},
			showModal(name) {
				const index = (gnome) => gnome.name === name;
				const gnome = this.posts.findIndex(index);
				this.gnomeDetails = this.posts[gnome];
				this.modal = true;
			},
			singleHairFilter(prop) {
				this.resetSearch();
				this.filters.hair.push(prop);
				this.filters.hairChecked[`${prop}`] = true;
				this.modal = false;
				this.filterGnomes();
			},
			singleJobFilter(prop) {
				this.resetSearch();
				this.filters.jobs.push(prop);
				this.filters.jobsChecked[`${prop}`] = true;
				this.modal = false;
				this.filterGnomes();
			},
		},
		computed: {
			badAge() {
				if (Number(this.filters.minAge) > Number(this.filters.maxAge)) {
					return true;
				}
			},
			badHeight() {
				if (Number(this.filters.minHeight) > Number(this.filters.maxHeight)) {
					return true;
				}
			},
			badWeight() {
				if (Number(this.filters.minWeight) > Number(this.filters.maxWeight)) {
					return true;
				}
			},
			displayedPosts() {
				return this.filteredPosts.length > 0
					? this.paginate(this.filteredPosts)
					: this.paginate(this.posts);
			},
			filteredList() {
				return this.$store.getters.filteredList;
			},
			gnomesList() {
				return this.$store.getters.gnomesList;
			},
			initData() {
				return this.$store.getters.initData;
			},
		},
		watch: {
			filteredPosts() {
				this.setPages(this.filteredPosts);
				this.page = 1;
			},
			posts() {
				this.setPages(this.posts);
			},
		},
		created() {
			this.getGnomes();
		},
	};
</script>

<style scoped>
	a {
		color: crimson;
		text-decoration: underline;
		cursor: pointer;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	a,
	p {
		text-emphasis: bold;
	}

	.badInput {
		border: 1px solid red;
	}

	.currentPage {
		box-shadow: 2px 2px #666;
	}

	.fade {
		-webkit-transition: opacity 0.1s linear;
		-moz-transition: opacity 0.1s linear;
		-ms-transition: opacity 0.1s linear;
		-o-transition: opacity 0.1s linear;
		transition: opacity 0.1s linear;
	}

	.filter-modal {
		top: 100px;
		height: 600px;
		opacity: 0.9;
	}

	.filter-modal .modal-footer .btn-default {
		position: absolute;
		bottom: 10px;
		left: 10px;
	}

	.form-control {
		width: 70px;
		height: 20px;
	}

	.gnome-modal-body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 400px;
		align-items: center;
		padding: 10px;
		background-color: #fff;
	}

	.gnomeDetailsRight,
	.jobsList,
	.friendsList {
		margin: 5px;
	}

	.gnome-modal .modal-dialog {
		width: 410px;
	}

	.gnome-modal .btn-default {
		align-self: flex-start;
	}

	.grid {
		display: grid;
		grid-template-columns: 20% 20% 20% 20% 20%;
		list-style: none;
		padding: 0;
	}

	.hair {
		margin-left: 5px;
	}

	img {
		height: 10em;
		border-radius: 10px;
	}

	.inputFilters {
		display: flex;
		justify-content: space-between;
		padding: 10px;
	}

	.jobs {
		margin-left: 5px;
	}

	.list {
		width: 60%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding-left: 10px;
		overflow-wrap: break-word;
	}

	.list p {
		margin: 0 5px 0 0;
		font-size: 14px;
	}

	.modal-content,
	.gnome-modal-body {
		background-image: url("../assets/paper.jpg");
	}

	.modal img {
		display: flex;
		margin: 0 auto;
		border-radius: 10px;
	}

	.modal p {
		text-align: left;
	}

	.modal li {
		list-style: none;
		text-align: left;
	}

	.modal-header {
		display: flex;
	}

	.modal-header .btn {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.modal-footer {
		display: flex;
		justify-content: space-evenly;
	}

	.modal-sm {
		width: 500px;
	}

	.otherfilters {
		width: 50%;
	}

	.panel {
		width: 95%;
	}

	.panel button {
		cursor: pointer;
	}

	.panel-body {
		display: flex;
		justify-content: center;
		background-image: url("../assets/paper.jpg");
	}

	ul h5 {
		display: flex;
		flex-direction: row;
	}

	@media only screen and (max-width: 1220px) {
		.grid {
			grid-template-columns: 25% 25% 25% 25%;
		}
	}
	@media only screen and (max-width: 1024px) {
		.grid {
			grid-template-columns: 33% 33% 33%;
		}
	}
	@media only screen and (max-width: 830px) {
		.grid {
			grid-template-columns: 1fr 1fr;
		}
	}
	@media only screen and (max-width: 560px) {
		.grid {
			grid-template-columns: 1fr;
		}
	}
	@media only screen and (max-width: 430px) {
		.gnome-modal-body {
			width: 280px;
			display: flex;
			flex-direction: column;
		}

		.gnome-modal-body .modal-dialog {
			margin: 5px;
		}

		.gnome-modal .modal-dialog {
			width: 300px;
		}
	}
</style>