<template>
	<div class="container">
		<h1>Welcome to GnomeTome!</h1>
		<div>
			<h3><strong>Brastlewark</strong> is a bustling Gnome city teeming with life and was the first to develop a social networking database!</h3>
			<h3>Use the filters below to narrow down your search.</h3>
			<h4> Clicking a gnome's friends' names will open that friend's details card in a new modal.</h4>
		</div>
		<hr>
		<button v-if="!show"
			class="btn btn-success"
			@click="showGnomes">Show me the Gnomes!</button>
		<Gnomes v-if="show" />
	</div>
</template>

<script>
	import { mapGetters } from "vuex";
	import Gnomes from "./Gnomes";

	export default {
		data() {
			return {
				show: false,
			};
		},
		methods: {
			showGnomes() {
				this.show = true;
			},
		},
		components: {
			Gnomes,
		},
	};
</script>

<style scoped>
	.container {
		width: 100%;
	}
</style>