<template>
	<div>
		<app-home></app-home>
	</div>
</template>

<script>
	import Home from "./components/Home.vue";

	export default {
		components: {
			appHome: Home,
		},
		created() {
			this.$store.dispatch("initGnomesList");
		},
	};
</script>

<style>
	body {
		padding: 30px;
		background-image: url("./assets/paper.jpg");
		font-family: "Langar", cursive;
	}
</style>